// Ratios to choose from:
$golden: 1.618;
$octave: 2 / 1;
$major-seventh: 15 / 8;
$minor-seventh: 16 / 9;
$major-sixth: 5 / 3;
$minor-sixth: 8 / 5;
$fifth: 3 / 2;
$fourth: 4 / 3;
$major-third: 5 / 4;
$minor-third: 6 / 5;
$major-second: 9 / 8;
$minor-second: 16 / 15;


// Where the magic happens:
@mixin modular-scale($attribute, $value, $ratio, $multiple) {
  $modular-scale: $value;
  @if $multiple > 0 {}
  @for $i from 1 through $multiple {
    $modular-scale: $modular-scale * $ratio; }
  @if $multiple < 0 {
    @for $i from 1 through $multiple * -1 {
      $modular-scale: $modular-scale / $ratio; } }
  #{$attribute}: $modular-scale; }


// Plug in, the attribute, base value, ratio and location on the scale.
.foo {
  @include modular-scale(width, 12px, $golden, 3); }
