body {
  background: #333333;
}

.page {
  background: white;
  height: 406.422px;
  width: 657.591px;
}

p {
  font-size: 14px;
  line-height: 22.652px;
}

h1 {
  font-size: 36.651px;
  line-height: 43.981px;
}

h2 {
  font-size: 22.652px;
  line-height: 33.978px;
}

.page {
  padding: 36.651px 22.652px;
}
