@import "../../stylesheets/modularscale";

$modularscale: (
  base: 16px,
  ratio: 1.5
);

@debug ms(-3);
@debug ms(-2);
@debug ms(-1);
@debug ms();
@debug ms(0);
@debug ms(1);
@debug ms(2);
@debug ms(3);
@debug ms(4);
@debug ms(5);
@debug ms(6);
@debug ms(7);
