<%= partial "partials/head" %>
  <body>

    <%= partial "partials/intro" %>

    <article id="main" role="main">
      <%= yield %>
    </article>

    <%= partial "partials/nav" %>

  </body>
</html>
