// The main function that brings it all together
@function ms($Value: 0, $Bases: $ms-base, $Ratios: $ms-ratio) {
  
  // If no multi-base or multi-ratio stuff is going on
  // then just retrn the basic calculaiton
  @if length($Bases) == 1 and length($Ratios) == 1 {
    @return ms-calc($Value, $Bases, $Ratios);
  }
  
  // Use cached values if they exist
  @if $MS-maps-exist {
    // Find the map
    // it's labeld with the base and ratio values
    @if map-get($MS-cache, "#{$Bases} #{$Ratios}") {
      // Positive list
      $MS-pos: map-get(map-get($MS-cache, "#{$Bases} #{$Ratios}"), pos);
      // See if the map matches the range
      @if $Value >= 0 and length($MS-pos) > $Value {
        @return nth($MS-pos, $Value + 1);
      }
      // And again for negitive values
      $MS-neg: map-get(map-get($MS-cache, "#{$Bases} #{$Ratios}"), neg);
      @if $Value < 0 and length($MS-neg) > abs($Value - 1) {
        @return nth($MS-neg, $Value - 1);
      }
    }
    // If nothing matched criteria in map
    // then just carry on with calculaitons.
  }
  
  // Generate a list of all possible values
  $Return: ms-generate-list($Value, $Bases, $Ratios);
  
  // Sort the generated lists
  $Return: ms-sort-list($Return);

  // Cache
  @if $MS-maps-exist {
    $MS-cache: ms-cache($Value, $Bases, $Ratios, $Return) !global;
  }

  // Normalize value for counting from 1
  // Because CSS counts things from 1
  // So Sass does as well
  // So I get to write fun stuff like this
  @if $Value >= 0 {
    $Value: $Value + 1;
  }
  @else {
    $Value: $Value - 1;
  }

  // Find the correct value in the list
  $Return: nth($Return, $Value);

  @return $Return;
}

// Same function, different name, for good measure.
@function modular-scale($Value: 0, $Bases: $ms-base, $Ratios: $ms-ratio) {
  @return ms($Value, $Bases, $Ratios);
}