@function ms($value: 0, $bases: $ms-base, $ratios: $ms-ratio) {
  
  // If no multi-base or multi-ratio stuff is going on
  // then just retrn the basic calculaiton
  @if length($bases) == 1 and length($ratios) == 1 {
    @return ms-calc($value, $bases, $ratios);
  }
  
  // Generate a list of all possible values
  $return: ms-generate-list($value, $bases, $ratios);
  
  // Sort the generated lists
  $return: ms-sort-list($return);

  // normalize value for counting from 1
  @if $value >= 0 {
    $value: $value + 1;
  }
  @else {
    $value: $value - 1;
  }

  // Find the correct value in the list
  $return: nth($return, $value);

  @return $return;
}