@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use 'sass:meta';
@use 'sass:string';

@use 'constants';
@use 'normalize-base-and-ratio' as *;
@use 'ratio-by-target' as *;
@use 'sort' as *;
@use 'step-by-target' as *;
@use 'strip-unit' as *;
@use 'round-to' as *;

$settings: () !default;

$_ratios: constants.$ratios;

// Mapping settings to avoid variable name conflicts
@function _get-global-settings() {
  @return $settings;
}

@mixin configure($settings: ()) {
  @if meta.type-of($settings) != 'map' {
    @error 'Invalid type of settings provided: #{meta.type-of($settings)}';
  }

  $global-settings: _get-global-settings();

  // let's avoid modifying the provided $settings map directly
  $combined-settings: map.deep-merge((), $settings);

  // we need to preserve base
  @if meta.type-of(map.get($settings, 'base')) != 'number' {
    $base: map.get($global-settings, 'base');
    $combined-settings: map.merge($combined-settings, (base: $base));
  }
  // we need to preserve ratio
  @if meta.type-of(map.get($settings, 'ratio')) != 'number' {
    $ratio: map.get($global-settings, 'ratio');
    $combined-settings: map.merge($combined-settings, (ratio: $ratio));
  }

  @if map.has-key($combined-settings, 'ratios') {
    $ratios: map.get($combined-settings, 'ratios');

    @if meta.type-of($ratios) == 'map' {
      $_ratios: map.deep-merge($_ratios, $ratios) !global;
    }

    $combined-settings: map.remove($combined-settings, 'ratios');
  }

  $settings: $combined-settings !global;
}

@function step(
  $v: 0,
  $respond: null,
  $base: null,
  $ratio: null,
  $thread: null,
  $settings: (),
) {
  // Parse settings
  @if ($respond) {
    $thread: $respond;
  }

  // empty maps and lists are the same, so we need to check both
  @if meta.type-of($settings) != 'map' and list.length($settings) > 0 {
    @error 'Invalid type of settings provided for `step` function: #{meta.type-of($settings)}';
  }

  // Mapping settings to avoid variable name conflicts
  $global-settings: _get-global-settings();

  $combined-settings: map.deep-merge($global-settings, $settings);

  @if meta.type-of($ratio) == 'string' {
    @if map.has-key($_ratios, $ratio) {
      $ratio: map.get($_ratios, $ratio);
    } @else if map.has-key($combined-settings, 'ratios', $ratio) {
      $ratio: map.get($combined-settings, 'ratios', $ratio);
    } @else {
      @error '#{$ratio} isn\'t a valid ratio';
    }
  }

  $combined-settings: normalize-base-and-ratio($base, $ratio, $thread, $combined-settings);

  $base: list.nth($combined-settings, 1);
  $ratio: list.nth($combined-settings, 2);
  $base-length: list.length($base);
  $bases: ();

  // Render target values from settings.
  @if meta.type-of($ratio) == 'string' or meta.type-of($ratio) == 'list' {
    $ratio: radio-target($ratio, $base);
  }

  // Fast calc if not multi stranded
  @if ($base-length == 1) {
    // if the step provided is actually a target and has the same unit as the base,
    // we can figured the closest integer step on the current scale to be used.
    // It's for the cases when the designer provided all values as pixels and
    // not respecting the modular scale to the "number", but getting close.
    // Designers don't like float numbers.
    @if (math.unit($v) == math.unit($base) or math.unit($v) == 'px') {
      $v: step-by-target($v, $base, $ratio);
    }

    @return round-to(math.pow($ratio, $v) * $base, 10);
  } @else {
    $bases: list.nth($base, 1);

    @for $i from 2 through $base-length {
      $new-base: list.nth($base, $i);

      @while ($new-base > ($ratio * list.nth($base, 1))) {
        $new-base: math.div($new-base, $ratio);
      }

      @while ($new-base < list.nth($base, 1)) {
        $new-base: ($new-base * $ratio);
      }
      $bases: list.append($bases, $new-base);
    }

    $bases: sort($bases);
  }

  // Find step to use in calculation
  $step: math.floor(math.div($v, $base-length));

  // Find base to use in calculation
  $base: math.round((math.div($v, $base-length) - $step) * $base-length) + 1;

  @return round-to(math.pow($ratio, $step) * list.nth($bases, $base), 10);
}

@mixin respond-to($mode: map.get($settings, 'respond')) {
  // Setup
  $id: #{string.unique-id()};
  $max: 0;
  $queries: 0;
  $c: 0;
  $query: $mode;
  // Default query type
  @if ($query == null) {
    $query: 'typetura';
  }
  // Find maximum value
  @each $bp in $settings {
    @if (meta.type-of(list.nth($bp, 1)) == 'number') {
      $max: list.nth($bp, 1);
      $queries: $queries + 1;
    }
  }

  // Write fallback styles to broader context
  @content ($settings);

  // Typetura styles
  @if ($query == 'typetura') {
    --tt-key: #{$id};
    --tt-max: #{strip-unit($max)};
    @keyframes #{$id} {
      @each $bp in $settings {
        @if (meta.type-of(list.nth($bp, 1)) == 'number') {
          $key: list.nth($bp, 1);
          $keyframe: math.percentage(math.div($key, $max));
          #{$keyframe} {
            @content (list.nth($bp, 1));
          }
          $c: $c + 1;
        }
      }
    }
  } @else if ($query == 'container') {
      $query: $query + ' modularscale';
      // Loop through breakpoints
      @each $bp in $settings {
        @if (meta.type-of(list.nth($bp, 1)) == 'number') {
          @#{$query} (min-width: #{list.nth($bp, 1)}) {
            $bp: list.nth($bp, 1);
            @content ($bp);
          }
        }
      }
    } @else {
    // Loop through breakpoints
    @each $bp in $settings {
      @if (meta.type-of(list.nth($bp, 1)) == 'number') {
        @#{$query} (min-width: #{list.nth($bp, 1)}) {
          $bp: list.nth($bp, 1);
          @content ($bp);
        }
      }
    }
  }
}

@mixin container($selector: '.modularscale') {
  @at-root {
    #{$selector} {
      container-name: modularscale;
      container-type: inline-size;
    }
    $container-write: true;
  }
}
