@function ms-pow($b,$e) {
  @if function-exists('pow') {
    @return pow($b,$e);
  }

  @if (floor($e) != $e) {
    @error '
======================================================================
Non-integer values are not supported in modularscale by default.

Try using mathsass in your project to add non-integer scale support.
https://github.com/terkel/mathsass
======================================================================
'
  }

  $ms-return: $b;
  @if $e > 0 {
    @for $i from 1 to $e {
      $ms-return: $ms-return * $b;
    }
  }
  @if $e < 0 {
    @for $i from $e through 0 {
      $ms-return: $ms-return / $b;
    }
  }
  @return $ms-return;
}