// Stripping units is not a best practice
// This function should not be used elsewhere
// It is used here because calc() doesn't do unit logic
@function ms-unitless($val) {
  $val: $val / ($val - $val + 1);
  @return $val;
}

// Generate calc() function
@function ms-fluid($val1: 1em, $val2: 1em, $break1: 0, $break2: 0) {
  $diff: ms-unitless($val2) - ms-unitless($val1);
  @if $ms-fluid {
    @return calc( #{$val1} + #{$diff} * ( ( 100vw - #{$break1}) / #{ms-unitless($break2) - ms-unitless($break1)} ) );
  } @else {
    @return ms($value,$base,ms-range($n,1,$range));
  }
}

// Main responsive mixin
@mixin ms-respond($prop, $val) {
  $base: $ms-base;
  $ratio: $ms-ratio;
  @each $v, $s in $modularscale {
    @debug $v $s;
  }
}