@mixin step($mode: map-get($settings, respond)) {
  // Setup
  $id: #{unique-id()};
  $max: 0;
  $queries: 0;
  $c: 0;
  $query: $mode;
  // Default query type
  @if ($query == null) {
    $query: media;
  }
  // Find maximum value
  @each $bp in $settings {
    @if (type-of(list.nth($bp, 1)) == "number") {
      $max: list.nth($bp, 1);
      $queries: $queries + 1;
    }
  }
  
  // Write fallback styles to broader context
  @content ($settings);
  
  // Typetura styles
  @if ($query == typetura) {
    --tt-key: #{$id};
    --tt-max: #{$max};
    @keyframes #{$id} {
      @each $bp in $settings {
        @if (type-of(list.nth($bp, 1)) == "number") {
          
          $key: list.nth($bp, 1);
          $keyframe: percentage($key/$max);
          #{$keyframe} {
            @content (list.nth($bp, 1));
          }
          $c: $c + 1;
        }
      }
    }
  } @else {
    
    // Loop through breakpoints
    @each $bp in $settings {
      @if (type-of(list.nth($bp, 1)) == "number") {
        @#{$query} (min-width: #{list.nth($bp, 1)}) {
          $bp: list.nth($bp, 1);
          @content ($bp);
        }
      }
    }
    
  }
}

// @mixin tt($tt...) {
//   $id: #{unique-id()};
//   $max: nth(nth($tt, length($tt)), 1);
//   $c: 0;
//   --tt-key: #{$id};
//   --tt-max: #{$max};
//   @keyframes #{$id} {
//     @each $key, $values in $tt {
//       $keyframe: percentage($key/$max);
//       @if $c == 0 {
//         @if $key == 0 {
//           $keyframe: 0%;
//         } @else {
//           $keyframe: 0%, percentage($key/$max);
//         }
//       }
//       #{$keyframe} {
//         @each $prop, $val in $values {
//           #{$prop}: #{$val};
//         }
//       }
//       $c: $c + 1;
//     }
//   }
// }
