@function ms-sort($l) {

  $sorted: false;
  @while $sorted == false {
    $sorted: true;
    @for $i from 2 through length($l) {
      $n1: nth($l,$i - 1);
      $n2: nth($l,$i);
      @if $n1 > $n2 {
        $l: set-nth($l, $i, $n1);
        $l: set-nth($l, $i - 1, $n2);
        $sorted: false;
      }
    }
  }

  @return $l;
}