@use 'sass:list';
@use 'sass:math';
@use 'sass:string';

@use 'strip-unit' as *;
@use 'to-num' as *;

// Find a ratio based on a target value
@function target($t, $b) {
  @if (list.length($b) > 1) {
    @error 'You are currently using multiple bases in your modular scale: #{$b}. When targeting a value for your ratio, please use a single base.';
  }
  // Convert to string
  $t: $t + '';

  // Remove base units to calculate ratio
  $b: strip-unit(nth($b, 1));

  // Find where 'at' is in the string
  $at: string.index($t, 'at');

  // Slice the value and target out
  // and convert strings to numbers
  $v: to-num(string.slice($t, 0, $at - 1));
  $t: to-num(string.slice($t, $at + 2));

  @if $v == $b or $t == 0 {
    @error 'It\'s impossible to calculate a ratio from the same size as its base';
  }

  // Solve the modular scale function for the ratio.
  @return math.pow(math.div($v, $b), math.div(1, $t));
}
