// @import 'vars';

@mixin respond($min: -3, $max: 9, $responsive: $responsive) {
	@if $responsive {
		$settings: (
		  base: 1.2em,
		  ratio: 1.45
		);
		@content
	}
	@else {
		$settings: (
		  base: 1em,
		  ratio: 1.2
		);
		@content
	}
}

@include respond(true) {
	foo {
		bar: step(2);
	}
}
@include respond(false) {
	foo {
		bar: step(2);
	}
}