@import "modular-scale/ratios";

$ms-base:  1em      !default;
$ms-ratio: $fifth   !default;
$ms-range: null     !default;
$ms-fluid: true     !default;

@import "modular-scale/tests";

@import "modular-scale/pow";
@import "modular-scale/round-px";
@import "modular-scale/function";

@import "modular-scale/respond";