// Ratios
$golden: 1.618 
$octave: (2 / 1)
$major-seventh: (15 / 8)
$minor-seventh: (16 / 9)
$major-sixth: (5 / 3)
$minor-sixth: (8 / 5)
$fifth: (3 / 2)
$fourth: (4 / 3)
$major-third: (5 / 4)
$minor-third: (6 / 5)
$major-second: (9 / 8)
$minor-second: (16 / 15)

// Defaults
$ratio: $golden !default
$base-size: 12px !default
$property: font-size !default
$class-slug: ms !default

// Modular Scale logic
@function modular-scale($multiple, $base-size, $ratio)
  $modular-scale: $base-size
  @if $multiple > 0
    @for $i from 1 through $multiple
      $modular-scale: $modular-scale * $ratio
  @if $multiple < 0
    @for $i from 1 through ($multiple * -1)
      $modular-scale: $modular-scale / $ratio
  @return $modular-scale
  
// Shortcut
@function ms($multiple, $base-size, $ratio)
  @return modular-scale($multiple, $base-size, $ratio)

// Mixin
=modular-scale($property, $multiple, $base-size, $ratio)
  #{$property}: +modular-scale($multiple, $base-size, $ratio)

// Classes Mixin
=modular-scale-classes($multiple, $property)
  @for $i from 0 through $multiple
    .#{$class-slug}-#{$i}
      +modular-scale($property, $i)