// Context mixins
@mixin ms-context($base,$ratio) {
  $ms-og-base: $ms-base;
  $ms-base: $base !global;
  $ms-og-ratio: $ms-ratio;
  $ms-ratio: $ratio !global;
  @content;
  $ms-base: $ms-og-base !global;
  $ms-ratio: $ms-og-ratio !global;
}

@mixin ms-ratio($ratio) {
  $ms-og-ratio: $ms-ratio;
  $ms-ratio: $ratio !global;
  @content;
  $ms-ratio: $ms-og-ratio !global;
}

@mixin ms-base($base) {
  $ms-og-base: $ms-base;
  $ms-base: $base !global;
  @content;
  $ms-base: $ms-og-base !global;
}