<!DOCTYPE html>
<html>
  <head>
    <title>Modular Scale - Test Page</title>
    <link rel="stylesheet" href="/stylesheets/example.css" />
  </head>
  <body>
    <div class="page">
      <h1>This is a Heading</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean scelerisque, ipsum id dignissim porta, risus augue tincidunt nulla, vitae mollis nibh velit quis dolor. Duis a accumsan quam. Curabitur pulvinar, arcu ac lacinia accumsan, tellus tellus egestas lorem, eu sollicitudin velit sapien nec neque. Proin lorem neque, tincidunt eu iaculis sit amet, tempus ut dolor. Maecenas ut neque mi.</p>
      <h2>This is a Sub Heading</h2>
      <p>Donec ipsum diam, tincidunt quis iaculis in, dapibus vel urna. Mauris hendrerit, metus eget porta sodales, lacus metus varius augue, a facilisis ante enim et ante. In hac habitasse platea dictumst. Duis vulputate quam sed nunc tempus condimentum. Curabitur at neque eget purus sodales ultrices at vel metus. Vestibulum eleifend, turpis in viverra ornare, erat magna gravida lorem, ut tempor velit augue id risus.</p>
    </div>
  </body>
</html>