@charset "UTF-8";
MODULAR-SCALE-LIST {
  •:: MS-LIST: 16px 26px 42px 68px 110px 177px 287px 465px 752px 1216px 1968px 3184px 5152px 8336px 13488px 21824px 35312px 57136px 92448px 149584px 242032px;
}

html {
  padding: 20px;
}

body {
  background: #333333;
}

.page {
  background: white;
  padding: 23px 37px;
}

h1 {
  font-size: 37px;
  line-height: 37px;
}

h2 {
  font-size: 23px;
  line-height: 23px;
}

p {
  font-size: 14px;
  line-height: 23px;
}

.lace {
  width: 59px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 23px;
}

h6 {
  font-size: 19px;
}

h3 {
  line-height: 52.8px;
}

.foo {
  font-size: 17px;
}

.bar {
  font-size: 17px;
}

.baz {
  font-size: 11px;
}
