html {
  padding: 20px;
}

body {
  background: #333333;
}

.page {
  background: white;
  padding: 23px 37px;
}

h1 {
  font-size: 37px;
  line-height: 37px;
}

h2 {
  font-size: 23px;
  line-height: 23px;
}

p {
  font-size: 14px;
  line-height: 23px;
}

.lace {
  width: 59px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 23px;
}

h6 {
  font-size: 19px;
}

h3 {
  line-height: 52.8px;
}

.foo {
  font-size: 17px;
}

.bar {
  font-size: 17px;
}

.baz {
  font-size: 11px;
}

.ms-0 {
  font-size: 14px;
}

.ms-1 {
  font-size: 17px;
}

.ms-2 {
  font-size: 17px;
}

.ms-3 {
  font-size: 19px;
}

.ms-4 {
  font-size: 23px;
}

.ms-5 {
  font-size: 23px;
}

.ms-6 {
  font-size: 25px;
}
